body {
    background-color: rgb(255, 255, 255);
}

code {
    font-size: 21px;
    font-weight: bold;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.header {
    border: 3px double rgb(128, 128, 128);
    margin-bottom: 20px;
    background-color: rgb(222, 222, 222);
    padding: 10px;
}

.menu {
    background-color: rgb(192, 192, 192);
    border: 1px solid rgb(128, 128, 128);
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.menu-item {
    flex-grow: 1;
    margin: 0 8px;
}

.menu-link {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.menu-link:hover {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

.current-page {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

.main-content {
    border: 3px double rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
