body {
    background-color: azure;
}

code {
    font-size: 21px;
    font-weight: bold;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 3px solid lightsteelblue;
}

.header {
    padding-top: 20px;
    background-color: powderblue;
}

.heading {
    padding-left: 10px;
    margin: 0;
}

.intro {
    padding-left: 10px;
}

.menu {
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.menu-item {
    flex-grow: 1;
    margin: 0 8px;
}

.menu-link {
    background-color: cornflowerblue;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.menu-link:hover {
    background-color: powderblue;
    color: blue;
}

.current-page {
    background-color: white;
    color: blue;
}

.main-content {
    padding: 10px;
}
