body {
    background-color: azure;
}

code {
    font-size: 18px;
    font-weight: bold;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    background-color: aliceblue;
    border: 3px solid lightsteelblue;
}

.header {
    padding-top: 20px;
    background-color: powderblue;
}

.heading {
    padding-left: 10px;
    margin: 0;
}

.intro {
    padding-left: 10px;
}

.link-list {
    display: flex;
    list-style-type: none;
    padding: 5px 0;
    margin: 0;
    justify-content: space-between;
}

.list-item {
    display: block;
    text-decoration: none;
    padding: 6px 0;
    background-color: rgb(140, 162, 235);
    color: rgb(12, 12, 189);
    text-align: center;
    flex: 1;
}

.list-item:hover {
    background-color: powderblue;
}

.current-page {
    background-color: powderblue;
    color: rgb(12, 12, 189);
    font-weight: bold;
}

.main {
    padding: 10px;
}
