body {
	background-color: azure;
}

code {
	font-size: 1.1em;
	font-weight: bold;
}

.wrapper {
	width: 948px;
	margin: 0 auto;
	background-color: aliceblue;
	border: 3px solid lightsteelblue;
}

.header {
	padding-top: 20px;
	background-color: powderblue;
}

.heading {
	padding-left: 10px;
	margin: 0;
}

.intro {
	padding-left: 10px;
}

.menu {
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.menu-link {
    background-color: cornflowerblue;
    color: blue;
    padding: 15px 20px;  
    text-align: center;
    text-decoration: none;
    display: block;
}

.menu-item {
    flex-grow: 1;
    margin: 0 8px;
}

.menu-link:hover {
    background-color: lightsteelblue;
    color: blue;
}

.menu-link.current-page { 
    background-color: aliceblue;
    color: blue;
}

.main-content {
	padding: 10px;
    margin-top: 0;
}
