body {
    background-color: rgb(255, 255, 255);
}

code {
    font-size: 21px;
    font-weight: bold;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.header {
    border: 3px double rgb(128, 128, 128);
    margin-bottom: 20px;
    background-color: rgb(222, 222, 222);
    padding: 10px;
}

.menu {
    background-color: rgb(192, 192, 192);
    border: 1px solid rgb(128, 128, 128);
}

.link-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 15px 0px;
}

.list-item {
    padding: 15px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.list-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
}

.current-page {
    color: rgb(255, 255, 255);
    background-color: rgb(128, 128, 128);
}

.main {
    border: 3px double rgb(128, 128, 128);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
